* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/sabiblack.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}

header {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #333;
}

.nav-button {
  position: absolute;
  top: 130px;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-between;

}

.nav-links {
  font-size: 20px;
}

.center {
  width: 80%;
  height: 50%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.main-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  text-shadow: 2px 2px black;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}

.sabi-subhead {
  color: white;
  text-shadow: 2px 2px black;
  letter-spacing: 0.05em;
  opacity: 0.8;
}


#modal-btn-id {
  background: white;
  color: black;
  border-radius: 5px;
  font-size: 120%;
}

#modal-content {
  position: absolute;
  align-self: center;
  border-radius: 4px;
  box-shadow: 6px 6px 12px 7px;
  background: #fff;
  display: none;
  padding: 40px;
  z-index: 200;
}

.main-container {
  display: flex;
  align-items: center;
  height: calc(100vh - 120px);
}

.modal {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0);
}